<div ng-init="showFull = true">
	<div class="exercise">
		<div class="arabic-main">{{arabic.arabic}}</div>
		<ul>
			<div ng-repeat="(grammar, value) in arabic.irab">
				<irab arabic="arabic" parents="[]" grammar="grammar" show-sentence="showFull"></irab>
				<div ng-show="false" ng-init="parents = [grammar]"></div>
				<ul ng-repeat="(grammar, value) in value">
					<irab arabic="arabic" parents="parents" grammar="grammar" show-sentence="showFull"></irab>
				</ul>
			</div>
		</ul>
	</div>
</div>
<button class="btn btn-primary" ng-show="!showFull" ng-click="showFull = true">Show Full Sentence</button>
<button class="btn btn-primary" ng-show="showFull" ng-click="showFull = false">Show Words Only</button>
<button class="btn btn-primary" ng-click="random()">Next</button>